#background{
    background-color: aqua;
}

.header {
    background-color: aquamarine;
    border-bottom: solid rgb(205, 205, 240) 5px;
    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
    max-height: 300px;
    text-align: center;
}

.header h1{
    color: grey;
    position: relative;
    display: inline;
    padding-top: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header img{
    float: left;
    height: 95px;
    width: 95px;
    padding: 20px;
}

.section{
    color: grey;
    margin-top: 165px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form{
    border: dotted rgb(205, 205, 240) 2px;
    
}

#fname{
    background-color: lightgray;
}

#lname{
    background-color: lightgray;
}

#pnumber{
    background-color: lightgray;
}

#email{
    background-color: lightgray;
}

#date{
    background-color: lightgray;
}

#concern{
    background-color: lightgray;
    width: 80%;
    max-height: fit-content;
    min-height: 50px;
}

.button{
    color: grey;
    background-color: aquamarine;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer{
    background-color: aquamarine;
    color: grey;
    border-top: solid rgb(205, 205, 240) 5px;
    position: fixed;
    display: block;
    bottom: 0px;
    left: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}